In [1]:
import pandas as pd
import geopy
from geopy.distance import geodesic
import numpy as np

In [6]:
df = pd.read_csv("/home/haziqfaiz/Documents/streamlit-app/data.csv")
df= df[["lat","lon","Occupation"]]

In [7]:
df.head()

        lat         lon        Occupation
0  3.204187  101.756390          employer
1  3.136053  101.735584          employer
2  3.148253  101.683487      selfEmployed
3  3.194773  101.744810  privateEemployee
4  3.194195  101.726338  privateEemployee

In [8]:
df["List Occupation"] = None

In [10]:
for idx1,row1 in df.iterrows():
    occupation_list=[]
    for idx2,row2 in df.iterrows():
        x =((df.loc[idx1,"lat"],df.loc[idx1,"lon"]))
        y =(df.loc[idx2,"lat"],df.loc[idx2,"lon"])
        if(geodesic(x,y).km) <=2:
            occupation_list.append(df.loc[idx2,"Occupation"])
    df.at[idx1,"List Occupation"] = list(occupation_list)

In [11]:
df.head()

,lat,lon,Occupation,List Occupation,List Expense
0,3.204187,101.756390,employer,"[employer, privateEemployee, privateEemployee,...",NaN
1,3.136053,101.735584,employer,"[employer, privateEemployee, govServant, priva...",NaN
2,3.148253,101.683487,selfEmployed,"[selfEmployed, selfEmployed, selfEmployed, pri...",NaN
3,3.194773,101.744810,privateEemployee,"[employer, privateEemployee, govServant, priva...",NaN
4,3.194195,101.726338,privateEemployee,"[privateEemployee, privateEemployee, selfEmplo...",NaN

In [12]:
df.to_csv("Occupations Count")

In [22]:
df2 = pd.read_csv("Occupations Count")
l=df2["List Occupation"][0]

In [23]:
l=l[1:-1].replace("'","").split(",")

In [25]:
print(l[0])

employer